<table id="publications" class="display" style="width:100%">
  <thead>
  <tr>
    <th>Autor</th>
    <th>Titel</th>
    <th>Ort</th>
    <th>Datum</th>
    <th>Seiten</th>
    <th>PDF</th>
  </tr>
  </thead>
  <tbody>
  {% for id, publication in publications.items() %}
    <tr>
      <td> {{ publication.author }}</td>
      <td> {{ publication.title }}</td>
      <td> {{ publication.location }}</td>
      <td> {{ publication.date }}</td>
      <td> {{ publication.pages }}</td>
      <td>
        {% if publication.filename %}
          <a href="{{ url_for("static", filename='repository/'+publication.filename) }}"
                  target="_blank">
            <i class="bi bi-box-arrow-in-up-right"></i>
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>



