<div class="row">
  <div class="col-9">
    <h5>Digital Geoportal der Geschichte der Orthodoxen in Österreich</h5>
    <p class="text-justify">
      ... hat das Ziel, die Geschichte,
      den Glauben und die Kultur der orthodoxen Kirchen und von deren Gläubigen
      in Europa, mit einem Schwerpunkt
      auf Österreich, mit Hilfe von wissenschaftlichen Projekten zu erforschen
      und einer breiten Öffentlichkeit
      zugänglich zu machen.
    </p>
    <div class="d-flex">
      <ul class="list-group list-group-horizontal list-unstyled list-group-flush mx-auto  justify-content-center">
        <li class="list-group-item">
          <a href="https://geoportal.orthodoxes-europa.at/">
            <i class="bi bi-globe2" style="font-size: 1.5em;"></i>
          </a>
        </li>
        <li class="list-group-item">
          <a href="mailto:rainer.simon@ait.ac.at">
            <i class="bi bi-envelope-fill" style="font-size: 1.5em;"></i>
          </a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/rsimon/zukunftsfonds-mobile-site">
            <i class="bi bi-github" style="font-size: 1.5em;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-3">
    <img src="{{ url_for('static', filename='images/qr_geoportal.svg') }}"
         alt="QR Code">
  </div>
</div>
