<div class="tab-pane fade show active pt-5" id="orient" role="tabpanel"
     aria-labelledby="home-tab">
  <h5 class="text-center font-italic display-4">
    Die Orthodoxie zwischen Orient und Okzident
  </h5>
  <div class="row">
    <div class="col-10">
      <p class="text-justify">Das Buch von Mihailo St. Popović mit dem Titel "Mara
        Branković: Eine Frau zwischen dem christlichen und dem
        islamischen Kulturkreis im 15. Jahrhundert" befaßt sich mit
        dem Leben und den Taten der serbischen Prinzessin Mara (ca.
        1418-1487) aus der adeligen Familie Branković, die als
        Vermittlerin zwischen dem Orient und Okzident, zwischen der
        Orthodoxie, dem Katholizismus und dem Islam tätig war und
        die eine große Stifterin verschiedener orthodoxer Kirchen
        und Klöster in Südosteuropa war.</p>
      <p class="text-justify">
        Dieses Buch wurde im Jahre 2010 zuerst auf Deutsch veröffentlicht: </p>
      <p class="text-justify">
        <a href="https://www.harrassowitz-verlag.de/title_3681.ahtml">
          Mihailo St. Popović, Mara Branković: Eine Frau zwischen dem
          christlichen
          und dem islamischen Kulturkreis im 15. Jahrhundert (Peleus, Studien
          zur
          Archäologie und Geschichte Griechenlands und Zyperns 45).
          Mainz-Ruhpolding (Verlag Franz Philipp Rutzen; in Kommission bei
          Harrassowitz Verlag Wiesbaden) 2010, 238 S., ISBN 978-3-938646-49-6
          bzw.
          978-3-447-06124-7.</a>
      </p>
    </div>
    <div class="col-2">
      <a href="https://www.harrassowitz-verlag.de/title_3681.ahtml">
        <img src="{{ url_for("static",
      filename='images/veroeffentlichung/mara_brankovic_deutsch.jpg') }}"
             alt="Mara Brankovic Deutsch">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-justify">Sehen Sie dazu auch folgende Buchbesprechungen:</p>
      <ul class="list-unstyled">
        <li>Günter Prinzing, <a
                href="http://www.recensio.net/rezensionen/zeitschriften/jahrbucher-fur-geschichte-osteuropas/jgo.e-reviews-2011/4/mara-brankovic">
          http://www.recensio.net/rezensionen/zeitschriften/jahrbucher-fur-geschichte-osteuropas/jgo.e-reviews-2011/4/mara-brankovic
        </a>
        </li>
        <li>Ovidiu Cristea, Studii şi Materiale de Istorie Medie 29 (2011)
          375-380.
        </li>
        <li>Christof Rudolf Kraus, Ostkirchliche Studien 60/1 (2011) 177-180.
        </li>
        <li>Momčilo Spremić, Südost-Forschungen 69/70 (2010/2011) 524-526.</li>
        <li>Marie-Hélène Blanchet, Revue des Études Byzantines 70 (2012)
          313-315.
        </li>
        <li>Svetlana Tomin, Byzantinische Zeitschrift 109 (2015) 264-270.</li>
        <li>Aleksey V. Martyniouk, Slavjanovedenie 2 (2017) 113-115.</li>
        <li>Kemal Beydilli, The Journal of Ottoman Studies 49 (2017) 383-412.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-justify"> Danach ist es in serbischer Übersetzung im Jahre 2014 erschienen:</p>

      <p class="text-justify">
        <a href="https://akademskaknjiga.com/katalog/mara-brankovic/">
          Михаило Ст. Поповић, Мара Бранковић. Жена између хришћанског и
          исламског културног круга у 15. веку. Нови Сад (Академска књига) 2014,
          368 S., ISBN 978-86-6263-059-9.
        </a>
      </p>
      <p class="text-justify">Sehen Sie dazu auch folgende Buchbesprechung:</p>
      <p class="text-justify">
        Neven Isailović, Zbornik Odsjeka za povijesne znanosti Zavoda za
        povijesne i društvene znanosti Hrvatske akademije znanosti i umjetnosti
        33 (2015) 318-321.
      </p>
      <p class="text-justify">
        Und schließlich auch in mazedonischer Übersetzung im selben Jahr:
        Михаило Ст. Поповиќ, Мара Бранковиќ. Жената меѓу христијанскиот и
        исламскиот културен круг во XV век. Скопје (Арс Студио) 2014, 258 S.,
        ISBN 978-608-239-028-4.
      </p>
    </div>
  </div>
</div>

