{% extends "layout.html" %}
{% block title %}Orthodoxes Europa{% endblock %}
{% block content %}
  <div class="row pt-5">
  {{ header('Digitales Geoportal der Geschichte der Orthodoxen in Österreich') }}
  </div>



  <div class="row pt-2">
    {% from 'home/cards.html' import build_cards %}
    {{ build_cards(front_menu) }}
  </div>

  <div class="row pt-5">
    {% include 'home/introduction.html' %}
    {% include 'home/carousel.html' %}
  </div>
  <hr>
  {% include 'home/credits.html' %}

{% endblock content %}
