{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h3>{{ projekt.title }}</h3>
    <h4>{{ projekt.subtitle }}</h4>
    <div class="astrodivider">
        <div class="astrodividermask"></div>
        <span><i>&#10009;</i></span></div>
    <div class="row">
        <div class="col-sm-6">
            <p><b>Projektleitung:</b> {{ projekt.pi }}</p>
            <b>ProjektmitarbeiterInnen:</b> <br>
            <ul>
                {% for member in projekt.members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <p><b>Laufzeit:</b> {{ projekt.duration }}</p>
            <p><b>Projektleitung:</b> {{ projekt.pi }}</p>
            <b>ProjektmitarbeiterInnen:</b> <br>
            <ul>
                {% for member in projekt.members %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <p><b>Laufzeit:</b> {{ projekt.duration }}</p>

        </div>
        <div class="col-sm-6">
            <p><b>Trägerin des Projekts:</b><br>
                {{ projekt.institute |display_sponsors|safe }}
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-6">
            <p><b>Gefördert von:</b><br>
                {{ projekt.sponsor |display_sponsors|safe }}
            </p>
        </div>
        <div class="col-sm-6">
            <p><b>In Zusammenarbeit mit:</b><br>
                {{ projekt.partners |display_sponsors|safe }}
            </p>

        </div>
    </div>
    <div class="astrodivider">
        <div class="astrodividermask"></div>
        <span><i>&#10009;</i></span></div>
    <div class="row">
        <div class="col-sm-12 text-justify">
            <p><b>Beschreibung:</b></p>
            {{ projekt.description|safe }}
        </div>
    </div>



{% endblock %}
