{% extends "layout.html" %}
{% block title %}Öffentlichkeitsarbeit{% endblock %}
{% block content %}
  {{ header('Öffentlichkeitsarbeit', 'Veranstaltungen, Vorträge und Pressemeldungen') }}



  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for name, item in public.items() %}
      <div class="col">
        <div class="card h-100 text-start">
          <a href="#" data-bs-toggle="modal"
             data-bs-target="#arbeit-{{ item.id }}" class="text-decoration-none text-dark">
          <img class="card-img-top"
               src="/static/images/public/{{ item.image }}"
               alt="{{ item.image }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.title|safe }}</h5>
            <p class="card-text text-start">
              {{ item.description | safe }}
            </p>
            <p class="card-text">
              <small class="text-muted">
                <img src="/static/images/icons/calendar4-week.svg"
                     class="icon" alt=""
                     title="Calendar">{{ item.type }}
                von {{ item.date }}
              </small>
            </p>
          </div>
        </a>
      </div>
      <div class="modal fade text-start" id="arbeit-{{ item.id }}"
           tabindex="-1"
           aria-labelledby="arbeitModalLabel-{{ item.id }}"
           aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="arbeitModalLabel-{{ item.id }}">{{ item.title|safe }}</h5>
              <button type="button" class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-start">
                      <img src="/static/images/icons/calendar4-week.svg"
                           class="icon"
                           alt=""
                           title="Calendar">{{ item.type }} {% if item.date %} am {{ item.date }}{% endif %}

                      {{ item.text | safe }}
                    </p>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="row ">
                    <div class="col-12 ">
                      {{ item.attachment | safe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-warning"
                      data-bs-dismiss="modal">Close
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
