{% extends "layout.html" %}
{% block title %}Veröffentlichungen{% endblock %}
{% block content %}
  {{ header('Veröffentlichungen') }}
  <div class="row">
    <div class="col align-content-center text-center m-5">
      <p>
        Die Initiative des digitalen Geoportals der Geschichte der Orthodoxen in
        Österreich möchte den NutzerInnen neben dem Geoportal als Online
        Ressource die Möglichkeit geben, weiterführende Veröffentlichungen zu
        unterschiedlichen Themenbereichen der Orthodoxie in Österreich auf
        dieser Seite der Homepage kennenzulernen und als pdf
        herunterzuladen. Dadurch möchten wir den Zugang zur Lektüre erleichtern
        und adaptiv neue Forschungsinhalte unserer Initiative präsentieren. Die
        neuen Forschungsinhalte nehmen dabei Bezug auf
        <a href="https://orthodoxes-europa.at/projekte">vergangene und laufende
          Projekte</a> unserer Initiative.
      </p>
    </div>
  </div>
  <div class="col-md-12 pt-3">
    {% include "veroeffentlichung/orient.html" %}
    <hr class="my-5">
    {% include "veroeffentlichung/serben.html" %}
  </div>
{% endblock %}
