{% extends "layout.html" %}
{% block title %}Veröffentlichungen{% endblock %}
{% block content %}
  {{ header('Veröffentlichungen') }}

  <div class="col-md-12">
    <ul class="nav nav-tabs" id="veroeffentlichungen" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab"
           href="#orient" role="tab" aria-controls="home"
           aria-selected="true">
          <h6 class="display-6">
            Orthodoxie zwischen Orient und Okzident
          </h6>
        </a>
      </li>
    </ul>

  </div>

  <div class="tab-content" id="veroeffentlichungenContent">
    {% include "veroeffentlichung/orient.html" %}
  </div>




{% endblock %}
